@model List<And.Eticaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    
}

<h2> Hoşgeldiniz</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            <div class="carousel-item  active " data-interval="1000">
                <img style="height:300px;width300px;" src="@item.ImageUrl" class="d-block w-100" alt="">
            </div>
            break;
        }
        @foreach (var item in Model)
        {
            <div class="carousel-item   " data-interval="1000">
                <img style="height:300px;width300px;" src="@item.ImageUrl" class="d-block w-100" alt="">
            </div>
        }



    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
   


<h6>Son 5 Ürün</h6>
<div class="container">
    <div class="row">
        @{
            foreach (var item in Model)
            {


                <div class="col-md-3" style="float:left; margin:40px">
                    <div class="card" style="width: 18rem">
                        <img style="width:200px; height:200px; align-self:center" src="@item.ImageUrl" class="card-img-top">
                        <div class="card-body bg-light ">
                            <h5 class="card-title">@item.Brand @item.Model</h5>
                            <p class="card-text">@item.Price.ToString("##,## ₺")</p>
                            @if (item.Description.Length > 50)
                            {
                                string desc = item.Description.Substring(0, 50);
                                <p class="card-text">@desc ...</p>
                            }

                            <a href="/urun/@item.Name.Replace(" ","-")/@item.ID" class="btn btn-success"> <i class="fas fa-search"></i> İncele </a>
                            @if (Session["LoginUser"] != null)
                            {
                                <a href="#" data-pID="@item.ID" class="btn btn-secondary addBasket">  <i class="fas fa-cart-plus"></i>   Sepete At  </a>
                            }

                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>
<div id="andModel" title="Teşekkürler ... ">
    Ürününüz Sepete Atılmıştır
    <a class="btn btn-success" href="/Sepetim">Sepetime Git</a>
</div>
<div class="row"></div>
<style>
    .card {
        text-align: center;
    }
</style>
@section script{
    <script type="text/javascript">
        $(function () {
            $("#andModel").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $(".addBasket").on("click", function () {
                var pid = $(this).attr("data-pID");
                $.post("/Basket/AddProduct?productID=" + pid + "&quantity=1", function (data) {

                    $("#andModel").dialog("open");
                });

                return false;
            });
        });
    </script>
}