@model IEnumerable<And.Eticaret.Core.Model.Entity.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Sipariş No
        </th>
        <th>
            Ürün
        </th>      
        <th>
            Toplam Fiyat
        </th>
        <th>
            Siparis Tarihi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
           @item.TotalPrice.ToString("##,## ₺")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
       
        <td>
          
            @Html.ActionLink("Sipariş Detayı", "Detail", new { id=item.ID }) 
           
        </td>
    </tr>
}

</table>
